.rtext{
	font-size:10pt;
	color:green;
	padding:10px;
	margin-bottom:20pt;
	margin-top:10pt;
	border:1px solid green;
}
.menuTag{
	opacity:0.9;
	display:none;
	position:fixed;
	
	right:-200px;
	left:0px;
	top:;
	bottom:30pt;
	z-index:10000;
	
}
.textStyler{
	font-size:9pt;
	color:black;
	font-weight:bold;
	}
.avatar{
width:100%;

}
.deskimage{
	opacity:0.8;
	background-color:white;
	border:1px solid lightgray;
	margin-top:-60px;
	padding:10px;
	box-shadow:2px 2px 1px 1px lightgray;
	
}
.badgestyle{
	color:white;
	background-color:green;
}
.userprofile{
	width:50px;
	/**margin-top:-55px;***/
	box-shadow:3px 3px 3px whitesmoke;
	border-radius:50%;
}
.userprofileR{
	width:40px;
	margin-top:-50px;
	box-shadow:3px 3px 3px whitesmoke;
	border-radius:50%;
	float:none;
}
.headerText{
	font-size:12pt;
	font-weight:bold;
	margin-bottom:10pt;
	margin-top:20pt;
}
.btn-group {
	padding:10px;
}
.pending{
	display:block;
}
.approved{
	display:none;
}
.cancelled{
	display:none;
}