.menuTag{
	opacity:0.9;
	display:none;
	position:fixed;
	top:;
	bottom:30pt;
	z-index:10000;
	
}
.textStyler{color:black;}
.avatar{
width:100%;

}
.userprofile{
	width:90px;
	margin-top:-55px;
	box-shadow:3px 3px 3px whitesmoke;
	border-radius:50%;
}
.headerText{
	font-size:12pt;
	font-weight:bold;
	margin-bottom:10pt;
	margin-top:20pt;
}
.btn-group {
	padding:10px;
}
.pending{
	display:block;
}
.approved{
	display:none;
}
.cancelled{
	display:none;
}