	/*******Fiat slide css*****/
	
	.carousel-cuu {
		position: relative;
		width: 100%;
		overflow: hidden;
		border: 0px solid #ccc;
		background-color: aqua;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding-top:10px;
	}

	.carousel-cuu-inner {
		display: flex;
		transition: transform 0.5s ease;
	}

	.carousel-cuu-item {
		min-width: 100%;
		padding:20px ;
		box-sizing: border-box;
		text-align: ;
		background-color: aqua;
	}

	#prevButton-cuu {
		left: 0;
	}

	#nextButton-cuu {
		right: 0;
	}



/*******Crypto slide css*****/


	.carousel-cu {
		position: relative;
		width: 100%;
		overflow: hidden;
		border: 0px solid #ccc;
		background-color: aqua;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding-top:10px;
	}

	.carousel-cu-inner {
		display: flex;
		transition: transform 0.5s ease;
	}

	.carousel-cu-item {
		min-width: 100%;
		padding:20px ;
		box-sizing: border-box;
		text-align: ;
		background-color: aqua;
	}

	#prevButton-cu {
		left: 0;
	}

	#nextButton-cu {
		right: 0;
	}


/*************Modified Button*********************/

.slideBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	z-index: 1;
}